/* ------------------------
  utilities Classes
------------------------ */
.u-br {
  display: inline-block;
}

@each $name, $value in $breakpoints {
  .u-hidden-#{$name} {
    @include breakpoint-only($name) {
      display: none !important;
      visibility: hidden;
    }
  }
}


// clearfix ----------
.clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}